.footer{
    width:100%;
    height:500px;
    background-color: var(--background);
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.footer-wrapper__block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-block__img{
    padding-top: 25px;
}
.footer-block__logo{
    margin-top: 15px;
    text-decoration: none;
    color:var(--text-primary);
    font-family: Inconsolata;
    font-size: var(--title-size);
}
.footer__block__info{
    display: flex;
    flex-direction: column;
    font-size: var(--text-size);
    font-family: var(--text-font-family);
    color:var(--text-secondary);
    gap:20px;
}
.footer__block__info li{
    list-style-type: none;
}
.footer-navLink{
    text-decoration: none;
    color:var(--text-secondary);
}

.footer-wrapper__block__social li {
    list-style-type: none;
}
.footer-wrapper__block__social li img{
    width:35px;
}
.footer-divider{
    width:1300px;
    height:1px;
    margin: 0 auto;
    background: rgba(0, 51, 73, .1);
}
.footer-copyright{
    padding-top: 50px;
    font-size: 15px;
    font-family: var(--text-font-family);
    color:var(--text-secondary);
}