.description{
    height: 700px;
    background-color: var(--background);
}
.container{
    width: 1200px;
    height:auto;
    margin: 0 auto;
}
.description-wrapper{
    text-align: left;
    padding-top: 100px;
}
.description-wrapper__block{
    font-family: var(--title-font-family);
    font-size: var(--title-size);
    color: var(--text-primary);
    text-align: center;
    position:relative;
}
.description-wrapper__block::before{
    content:'';
    display:block;
    background-color:var(--border);
    width:380px;
    height:1px;
    position:absolute;
    top:43px;
    left:0;
}
.description-wrapper__block__info{
    position: relative;
}
.description-wrapper__block__info span{
    position:absolute;
    top:11px;
    left:407px;
    font-size: var(--subtitle-size);
    font-family: var(--subtitle-font-family);
    font-weight: bold;
    color:var(--text-primary);
}
.description-wrapper__block__info p{
    position:absolute;
    top:130px;
    left:408px;
    font-size: var(--text-size);
    font-family: var(--text-font-family);
    color:var(--text-color);
}
