.recipes-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-bottom: 1px solid grey;
    background: var(--background);
}
.recipes-page__title{
    font-family: Georgia;
    font-size: 25px;
    font-weight: bold;
    color: var(--text-primary);
    padding-top: 50px;
}
.recipes-page__form {
    position: relative;
}
.recipe-search__input{
    margin-top: 30px;
    padding:8px 5px 8px 30px;
}
.recipe-search__icon{
    position:absolute;
    top:36px;
    left:5px;
    width: 19px;
}
.recipes-page__cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:35px;
    flex:1;
}
.recipes-page__btn{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
}

@media (max-width: 1440px){
    .recipes-page{
       margin: 0 27px;
    }
}
@media (max-width: 1024px){
    .recipes-page{
        width: fit-content;
    }
    .recipes-page__title{
        font-size: 20px;
    }
    .recipes-page__cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:768px){
    .recipes-page{
        width: fit-content;
    }
    .recipes-page__cards{
        grid-template-columns: 1fr ;
    }
}