.change-language{
    width:50px;
    position:relative;
}
.button-english{
    width:30px;
    height:35px;
    background:transparent;
    border:none;
    position:absolute;
    top: -13px;
    right: -20px;
    cursor:pointer;
}
.button-russian{
    width:30px;
    height:35px;
    background:transparent;
    border:none;
    position:absolute;
    top:-14px;
    right:-71px;
    cursor:pointer;
}
.button-russian img{
    width: 100%;
    height: 100%;
}
.button-english img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1440px){
    .button-english{
        right:15px;
    }
    .button-russian{
        right:-30px;
    }
}