.theme-toggle{
    position: relative;
}

.theme-toggle i{
    color: var(--text-primary);
    position: absolute;
    top: -3px;
}

@media (max-width: 1440px){
    .theme-toggle i{
        right:28px;
    }
}
