*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App .navLink{
  font-size: 27px;
  text-decoration: none;
  color:var(--text-primary);
  font-family: var(--menu-font-family);
  font-weight: 300;
}
.App .btn{
  width: 275px;
  height: 45px;
  background: var(--modal-color);
  color:cornflowerblue;
}

